HTML {scrollbar-face-color:#ffffff;scrollbar-highlight-color:#606060;scrollbar-3dlight-color:#ffffff;scrollbar-shadow-color:#606060;scrollbar-darkshadow-color:#ffffff;scrollbar-track-color:#ffffff;scrollbar-arrow-color:#606060;}
body {margin:0px;background-color:#fffbd2;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
table {font-family:Arial, Helvetica, sans-serif;font-size:12px;}
a {}
.astrix {color:#ac6226;}
.text_field {width:180px !important;height:20px !important;margin:0px;padding:1px;border:1px solid #606060;vertical-align:top;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;}
.form_field_text {color:#000000;height:30px;}
.text_field_big {width:180px;height:100px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;}
.form_table {direction:rtl;text-align:right;}
.form_table table {text-align:right;}
.form_table td {vertical-align:top;}
.form_table_fields {width:100%;}
.form_table_fields td {text-align:right;}
.form_table_fields input, .form_table_fields select, .form_table_fields textarea {width:255px;background-color:#FFFFFF;color:#000000;}
.form_table_fields select {border:1px solid #606060;width:259px;}
.form_table_prefields {width:100%;}
.form_table_prefields_div {margin-right:15px;height:30px;}
select {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;background-color:#FFFFFF;}
input {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;background-color:#FFFFFF;}
textarea {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;background-color:#FFFFFF;}
.buttons {}
.hp_top_right {background-position:left top;background-repeat:no-repeat;background-image:url(image.ashx@i=216960.jpg);background-color:transparent;}
.hp_top_center {background-position:center top;background-repeat:no-repeat;background-image:url(image.ashx@i=216961.jpg);background-color:transparent;vertical-align:top;}
.hp_top_left {background-position:right top;background-repeat:no-repeat;background-image:url(image.ashx@i=216962.jpg);background-color:transparent;}
.hp_middle_right {background-position:left top;background-repeat:repeat-y;background-image:url(image.ashx@i=216963.jpg);background-color:transparent;}
.hp_middle_center {background-position:top left;background-repeat:repeat-y;background-image:url(image.ashx@i=216964.jpg);background-color:transparent;vertical-align:top;height:230px;}
.hp_middle_left {background-position:right top;background-repeat:repeat-y;background-image:url(image.ashx@i=216965.jpg);background-color:transparent;}
.hp_middle_center_table {height:100%;width:778px;}
.hp_main_right {display:none;}
.hp_main_center {background-position:top center;background-repeat:no-repeat;background-image: url(#_BGIMAGEURL_#);background-color:transparent;width:778px;}
.hp_bottom_right {background-position:left top;background-repeat:no-repeat;background-image:url(image.ashx@i=216966.jpg);background-color:transparent;}
.hp_bottom_center {background-position:top center;background-repeat:no-repeat;background-image:url(image.ashx@i=216967.jpg);background-color:transparent;vertical-align:top;}
.hp_bottom_left {background-position:right top;background-repeat:no-repeat;background-image:url(image.ashx@i=216968.jpg);background-color:transparent;}
.hp_top {height:45px;}
.hp_middle {height:284px;}
.Footer {height:338px;}
.pnimi_top {height:188px;}
.pnimi_middle {}
.pnimi_Footer {height:175px;}
.logo_pos {}
.pnimi_logo_pos {}
.hp_ticker_box {display:none;}
.hpTopMenu {height:25px;text-align:right;}
.hpTopMenu table {float:right;}
.hpTopMenuTbl {position:relative;top:0px;}
.menu {font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;background-position:right;background-repeat:no-repeat;padding-right:15px;color:#191403;font-weight:bold;background-image:url(image.ashx@i=216969.gif);background-color:transparent;border-left:1px solid #ffffff;}
.menu_rollover {font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;background-position:right;background-repeat:no-repeat;padding-right:15px;color:#4e3d08;font-weight:bold;background-image:url(image.ashx@i=216969.gif);background-color:transparent;border-left:1px solid #ffffff;}
#DHTMLMenuDiv {position:relative;top:10px;right:0px;width:180px;}
.visual_above {}
.visual_below {position:relative;top:0px;right:0px;background-position:right;background-repeat:no-repeat;background-image:url(image.ashx@i=216970.jpg);background-color:transparent;width:180px;height:269px;}
.sideMenu_pos {width:179px;position:relative;margin-right:0px;background-color:#dbbea6;}
.pnimi_sidemenu {width:179px;position:relative;margin-right:0px;}
.menu_ip {font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;background-position:95% 50%;background-repeat:no-repeat;padding-right:20px;border-bottom:1px solid #ffffff;color:#191403;font-weight:bold;background-image:url(image.ashx@i=216971.gif);background-color:#c28a5d;}
.menu_rollover_ip {font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;background-position:95% 50%;background-repeat:no-repeat;padding-right:20px;border-bottom:1px solid #ffffff;color:#4e3d08;font-weight:bold;background-image:url(image.ashx@i=216971.gif);background-color:#c28a5d;}
.menu_ip_on {font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;background-position:95% 50%;background-repeat:no-repeat;padding-right:20px;border-bottom:1px solid #ffffff;color:#382b02;font-weight:bold;background-image:url(image.ashx@i=216971.gif);background-color:#ac6226;}
.hp_side_Ticker {border:0px solid #000000;}
.hp_mainTicker_pos {}
.hpbottomTicker {width:100%;padding-top:10px;}
#tickerDiv {width:700px;}
.news_ticker {width:700px;margin-right:40px;border:0px solid #000000;}
.hpAddressPos {height:50px;padding-top:140px;}
.dpz_buttons {width:778px;text-align:center;}
.dpz_buttons table {margin:0 auto 0 auto;}
.tbl_customer {background-color:transparent;height:0px;margin-top:0px;margin-bottom:0px;border:1px solid transparent !important;color:#606060;}
#div_cupon, #div_info, #div_click2call, #div_cupon, #div_info, #div_sms, #div_video {background-color:transparent;margin-bottom:0px;}
#wrapper {margin:0px 0px 0px 0px;background-color:transparent  !important;color:#606060;}
.text_customer {color:#606060;}
.text_customer a {color:#606060 !important;background-color:transparent !important;}
.text_customer a:hover {color:#ac6226 !important;}
.line {display:none;}
.dpz_credit {width:778px;text-align:center;}
.dpz_credit table {margin:0 auto 0 auto;}
.credits {width:200px;}
.sep_line {font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#606060;text-decoration:none;text-align:center;width:25px;}
.site_map {text-decoration:none;color:#606060;height:30px;}
.site_map a {font-family:Arial, Helvetica, sans-serif;text-decoration:underline;color:#606060;font-size:11px;}
.site_map a:hover {font-family:Arial, Helvetica, sans-serif;font-size:11px;text-decoration:underline;color:#ac6226;outline:0;}
.logoYP {width:30px;}
.top_right {background-position:left top;background-repeat:no-repeat;background-image:url(image.ashx@i=216972.jpg);background-color:transparent;}
.top_center {background-position:center top;background-repeat:no-repeat;background-image:url(image.ashx@i=216973.jpg);background-color:transparent;vertical-align:top;}
.top_left {background-position:right top;background-repeat:no-repeat;background-image:url(image.ashx@i=216974.jpg);background-color:transparent;}
.middle_right {background-position:left top;background-repeat:repeat-y;background-image:url(image.ashx@i=216975.jpg);background-color:transparent;}
.middle_center {background-position:top center;background-repeat:repeat-y;background-image:url(image.ashx@i=216976.jpg);background-color:transparent;}
.middle_left {background-position:right top;background-repeat:repeat-y;background-image:url(image.ashx@i=216977.jpg);background-color:transparent;}
.middle_center_table {height:100%;width:778px;}
.main_right {background-position:left top;background-repeat:no-repeat;background-image: url(#_BGIMAGEURL_#);background-color:transparent;text-align:right;vertical-align:top;width:180px;padding-top:20px;}
.main_center {background-position:top center;background-repeat:no-repeat;background-image: url(#_BGIMAGEURL_#);background-color:transparent;width:598px;}
.bottom_right {background-position:left top;background-repeat:no-repeat;background-image:url(image.ashx@i=216978.jpg);background-color:transparent;}
.bottom_center {background-position:top center;background-repeat:no-repeat;background-image:url(image.ashx@i=216979.jpg);background-color:transparent;vertical-align:top;}
.bottom_left {background-position:right top;background-repeat:no-repeat;background-image:url(image.ashx@i=216980.jpg);background-color:transparent;}
.pnimi_ticker_box {}
.pnimi_side_Ticker {border:0px solid #000000;}
.pnimi_main_ticker {border:1px solid #000000;}
.hivui {height:30px;padding-right:20px;margin-top:30px;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;}
.hivui a {font-weight:normal;color:#000000;font-size:12px;text-decoration:none;}
.hivui a:hover {font-weight:normal;color:#ac6226;font-size:12px;text-decoration:underline;outline:0;}
h1.content_title {font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#ac6226;padding-right:20px;margin-top:10px;font-size:18px;}
.pageText {padding-right:20px;height:auto !important;min-height:350px;height:350px;width:95%;}
h2 {}
.backToTop {vertical-align:top;clear:both;text-align:center;margin-top:15px;margin-bottom:15px;}
.backToTop a {color:#ac6226;text-decoration:underline;}
.backToTop a:hover {color:#000000;outline:0;}
.AddressPos {height:50px;}
.text {color:#000000;text-decoration:none;}
.text a {color:#000000;text-decoration:underline;}
.text a:hover {color:#ac6226;text-decoration:underline;outline:0;}
.text td {color:#000000;text-decoration:none;outline:0;}
.text p {color:#000000;text-decoration:none;outline:0;}
p {margin:0px;padding:0px;}
.hp_text_box {padding-right:10px;min-height:170px;height:170px !important;width:340px;overflow-y:auto;overflow-x:no;direction:ltr;text-align:right;vertical-align:top;margin-top:60px;padding-top:0px;margin-right:40px;scrollbar-face-color:#4C4D48;scrollbar-highlight-color:#ECEADE;scrollbar-3dlight-color:#262624;scrollbar-darkshadow-color:#1C1C1A;scrollbar-shadow-color:#ECEADE;scrollbar-arrow-color:#FFFFE0;scrollbar-track-color:#151513;overflow-x:hidden;}
.overview_image {width:100px;border:1px solid #606060;}
h1.overview_title {font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#ac6226;margin-top:20px;font-size:14px;}
.overview_data {}
.overview_link {}
.scroll_news_div {width:170px;float:right;direction:rtl;padding-top:5px;padding-bottom:5px;border:1px solid #CCCCCC;}
.scroll_news_date {color:#000000;text-decoration:none;font-weight:bold;}
a.scroll_news_title {color:#000000;text-decoration:none;font-weight:bold;}
a.scroll_news_title:hover {color:#606060;text-decoration:none;font-weight:bold;outline:0;}
.scroll_news_shortdesc {color:#000000;text-decoration:none;font-weight:normal;}
.scroll_news_single_div {padding-bottom:20px;padding:10px;}
.scrollstop_news_div {width:170px;float:right;direction:ltr;padding-top:5px;padding-bottom:5px;border:1px solid #CCCCCC;}
.scrollstop_news_date {color:#000000;text-decoration:none;font-weight:bold;}
a.scrollstop_news_title {color:#000000;text-decoration:none;font-weight:bold;width:160px;}
a.scrollstop_news_title:hover {color:#606060;text-decoration:none;font-weight:bold;outline:0;width:160px;}
.scrollstop_news_shortdesc {color:#000000;text-decoration:none;font-weight:normal;width:160px;}
.tickerDataTable {}
#tickerDiv {}
#tickerDataTd {color:#000000;}
#tickerDataTd a {color:#000000;text-decoration:none;}
#tickerDataTd a:hover {color:#358BB4;text-decoration:none;outline:0;}
.galleryTableMain {}
.smallImg {width:220px;border:1px solid #575b5c;}
.bigImg {}
.bigImg_body_bgcolor {background-color:#FFFFFF;}
.bigImg_bgcolor {background-color:#FFFFFF;}
.bigimg_title {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#000000;text-decoration:none;}
.galleryTable {width:170px;}
td.galleryText {color:#000000;background-color:#fef889;text-align:center;font-weight:bold;text-decoration:none;border:1px solid #575b5c;height:30px;}
.galleryText a {color:#000000;background-color:#fef889;text-align:center;font-weight:bold;text-decoration:none;}
.galleryText a:hover {color:#fdb913;background-color:#fef889;text-align:center;font-weight:bold;text-decoration:none;outline:0;}
a.prevLink:hover {color:#000000;text-decoration:none;outline:0;}
a.nextLink {color:#000000;text-decoration:underline;}
a.nextLink:hover {color:#000000;text-decoration:none;outline:0;}
a.closeLink {color:#000000;text-decoration:underline;}
a.closeLink:hover {color:#000000;text-decoration:none;outline:0;}
.galleryImgTitle {text-align:center;cursor:pointer;height:25px;padding:0 10px 0 10px;}
.galleryImgTitle div.galleryImgTitleText {background-image: url(#_BGIMAGEURL_#);background-position:right center;background-repeat:no-repeat;}
.galleryImgTitleText a {text-decoration:none;}
.galleryImgTitleText a:hover {color:black;outline:0;}
.galleries_preview_table {border:0px solid red;}
.galleries_preview_explain {font-weight:bold;}
#galleries_preview_bigImageTitle {font-weight:bold;text-align:center;}
#galleries_preview_bigImageShortdesc {}
.galleries_preview_thumb_name {font-weight:bold;}
.galleries_preview_thumb_desc {display:none;}
.smallImg1 {width:100px;border:1px solid #606060;}
.bigImg1 {width:400px;border:1px solid #606060;}
.gallery_zoom_small_table {border:1px solid #606060;background-color:#FFFFFF;}
img.gallery_zoom_small_img {width:150px;}
.gallery_zoom_title {color:#000000;text-decoration:none;width:150px;heigth:60px;vertical-align:top;}
.gallery_zoom_title a {color:#000000;text-decoration:none;width:150px;heigth:60px;vertical-align:top;}
.gallery_zoom_title a:hover {color:#CCCCCC;text-decoration:none;width:150px;heigth:60px;vertical-align:top;outline:0;}
.lightboxTitle {font-size:12px;font-weight:bold;color:#484848;}
#imageDescription {direction:rtl;}
#lbCloseLink .gallery_zoom_close {font-size:12px;font-weight:bold;color:#484848;}
#lbCloseLink:hover .gallery_zoom_close {color:#222222;outline:0;}
.gallery_zoom_prev {}
.gallery_zoom_next {}
.central_gallery_table {width:550px;}
#central_image_galleries_imageTitle {font-weight:bold;}
.central_image_image {margin-top:5px;width:400px;border:1px solid #606060;}
.central_gallery_title {width:100%;background-color:#CCCCCC;color:#000000;font-size:12px;text-decoration:none;font-weight:bold;}
.central_gallery_desc {margin-top:5px;padding:8px;width:140px;height:255px;background-color:#EFEFEF;color:#000000;font-size:12px;text-decoration:none;font-weight:normal;}
.faq {width:100%;}
.faq_cat {margin:5px 0 5px 0;}
a.faq_cat_link {color:#000000;text-decoration:none;font-weight:bold;}
a.faq_cat_link:hover {color:blue;text-decoration:underline;outline:0;}
.faq_new {margin-top:20px;}
a.faq_new_link {color:#000000;text-decoration:none;font-weight:bold;}
a.faq_new_link:hover {color:#000000;text-decoration:underline;outline:0;}
.faq_question {margin:20px 0 5px 0;width:100%;}
.faq_answer {}
.faq_title {color:#000000;font-weight:bold;text-decoration:underline;}
a.faq_title {color:#000000;font-weight:bold;text-decoration:underline;}
a.faq_title:hover {color:#000000;font-weight:bold;text-decoration:underline;outline:0;}
.faq_answer {color:#358BB4;text-decoration:none;}
.jobs_title {color:#000000;font-weight:bold;text-decoration:underline;}
a.jobs_title {color:#000000;font-weight:bold;text-decoration:underline;}
a.jobs_title:hover {color:#358BB4;font-weight:bold;text-decoration:underline;outline:0;}
.contactUs_thankyou {width:100%;}
.contactUs_thankyou td {height:200px;}
.search_div {}
.search_text {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;}
input.search_field {width:150px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;}
input.search_button {background-color:#DDDDDD;border:1px solid #cdcdcd;color:#000000;height:22px;width:80px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:12px;}
img.articles_image {text-align:right;width:150px;border:1px solid #000000;}
.article_date {text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:bold;text-decoration:none;}
.article_title {text-align:right;height:25px;}
a.article_title {text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#000000;font-weight:bold;text-decoration:none;}
a.article_title:hover {text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ac6226;font-weight:bold;text-decoration:none;}
.article_text {margin-top:10px;text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:normal;text-decoration:none;}
.article_text a {text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:normal;text-decoration:none;}
.article_text a:hover {text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#ac6226;font-weight:normal;text-decoration:none;}
a.article_link {text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:normal;text-decoration:none;}
a.article_link:hover {text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#606060;font-weight:normal;text-decoration:none;}
.back_button {text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:bold;text-decoration:none;width:60px;height:18px;padding:2px 2px 2px 2px;border:1px solid #DDDDDD;background-color:#EEEEEE;display:block;}
a.back_button {text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:bold;text-decoration:none;width:60px;height:18px;padding:2px 2px 2px 2px;border:1px solid #DDDDDD;background-color:#EEEEEE;display:block;}
a.back_button:hover {text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000000;font-weight:bold;text-decoration:none;width:60px;height:18px;padding:2px 2px 2px 2px;border:1px solid #BBBBBB;background-color:#DDDDDD;display:block;}
.hivui_en {display:none;height:30px;margin-left:25px;margin-top:30px;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;text-align:left;direction:ltr;}
.hivui_en a {display:none;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;text-align:left;direction:ltr;}
.hivui_en a:hover {display:none;font-weight:normal;color:#ac6226;font-size:12px;text-decoration:underline;text-align:left;direction:ltr;outline:0;}
h1.content_title_en {font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#ac6226;padding-left:20px;margin-top:20px;font-size:20px;direction:ltr;text-align:left;}
.pageText_en {direction:ltr;text-align:left !important;padding-left:20px;margin-top:20px;height:auto !important;min-height:350px;height:350px;}
.pageText_en .content_pages_table td {text-align:left;direction:ltr;}
.hivui_ru {display:none;height:30px;margin-left:25px;margin-top:30px;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;text-align:left;direction:ltr;}
.hivui_ru a {display:none;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;text-align:left;direction:ltr;}
.hivui_ru a:hover {display:none;font-weight:normal;color:#ac6226;font-size:12px;text-decoration:underline;text-align:left;direction:ltr;outline:0;}
h1.content_title_ru {font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#ac6226;padding-left:20px;margin-top:20px;font-size:20px;direction:ltr;}
.pageText_ru {direction:ltr;text-align:left !important;padding-left:20px;height:auto !important;min-height:350px;height:350px;}
.pageText_ru .content_pages_table td {text-align:left;direction:ltr;}
.hivui_ar {display:none;height:30px;margin-right:20px;margin-top:30px;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;}
.hivui_ar a {display:none;font-weight:normal;color:#000000;font-size:12px;text-decoration:none;}
.hivui_ar a:hover {display:none;font-weight:normal;color:#ac6226;font-size:12px;text-decoration:underline;outline:0;}
h1.content_title_ar {font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#ac6226;padding-right:20px;margin-top:20px;font-size:18px;}
.pageText_ar {padding-right:20px;height:auto !important;min-height:350px;height:350px;width:95%;}
.hp_module4_tr {display:none;}
.pnimi_plcb_tr {display:none;}
.magnify {width:170px;}
.magnify a {text-decoration:none;}
.printv_body {background-color:#FFFFFF;}
.sendtoafriend_body {}
.sendtoafriend_data {}
a.sendtoafriend_link {}
a.sendtoafriend_link:hover {outline:0;}
a.printv_link {}
a.printv_link:hover {outline:0;}
.mirror_menu_div {text-align:center;}
.mirror_menu_div table {margin:0 auto 0 auto;}
.mirror_menu a {color:#606060;font-family:Arial,Helvetica,sans-serif;font-size:11px;text-decoration:underline;font-weight:normal;text-align:center;padding-right:6px;padding-left:6px;}
.mirror_menu a:hover {color:#ac6226;font-family:Arial,Helvetica,sans-serif;font-size:11px;text-decoration:underline;font-weight:normal;outline:0;text-align:center;padding-right:6px;padding-left:6px;}
.login_table {width:170px;border:1px solid #CCCCCC;background-color:#FFFFFF;}
.login_title {font-family:Arial,Helvetica,sans-serif;font-size:14px;text-decoration:none;font-weight:bold;color:#606060;}
.login_field {width:80px;font-family:Arial,Helvetica,sans-serif;font-size:11px;text-decoration:underline;font-weight:normal;outline:0;}
.login_text {font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;font-weight:normal;color:#000000;}
.login_text a {font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:underline;font-weight:normal;color:#000000;}
.login_text a:hover {font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:underline;font-weight:normal;color:#CCCCCC;}
